@import "~bootstrap/scss/bootstrap";
$body-bg : grey;
$body-color: white;
$theme-colors: (
        "primary" : red,
        "secondary" : grey,
        "background" : black,
);
$navbar-brand-font-size : 2em;
@import "~bootstrap/scss/bootstrap";
body {

}
