<nav class="navbar navbar-dark bg-background">
    <a class="navbar-brand text-primary" href="/">Wild Series</a>
    <a href="{{ path('wild_index') }}"> Home </a>
    <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}"> Series </a>
</nav>